.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  #ffffff 0%, rgba(255,244,234,1) 100.2% );
  height: 93vh;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: #333;
      text-align: center;
      position: relative;
  
      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: #333;
        margin: 10px auto 0;
      }
    }
  
    .blog-posts {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .blog-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 15px;
      }
  
      h2 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 10px;
      }
  
      span {
        font-size: 0.8rem;
        color: #999;
        margin-bottom: 15px;
      }
  
      button {
        padding: 10px 15px;
        font-size: 0.9rem;
        color: #fff;
        background-color: #8c6d62;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #704e43;
        }
      }
    }
    button {
        padding: 10px 15px;
        margin-top: 1rem;
        font-size: 1rem;
        color: #fff;
        background-color: #464849;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #000000;
        }
      }
     
  }
  